<div style="height:calc(100% - 65px)">
    <h2>Model Marketplace</h2>
    
    <div id="marketplace-container" style="height:100%">
        <div class="selection-buttons btn-group btn-group-toggle" role="group" aria-label="Model source" data-toggle="buttons">
            <button id="modelmarketplace-button" class="btn btn-sm btn-secondary">Marketplace</button>
            <button id="projectmodels-button" class="btn btn-sm btn-secondary">Project models</button>
            <button id="webimport-button" class="btn btn-sm btn-secondary">Web import</button>
            <button id="uploaddisk-button" class="btn btn-sm btn-secondary">Upload from disk</button>
        </div>

        <!-- marketplace models table -->
        <div class="table-container" id="modelmarketplace-container">
            <div class="option-box">
                <h3 id="marketplace-search-header">Search and filter</h3>
                <div id="marketplace-search-body">
                    <label for="marketplace-search-keyword">Keyword:</label>
                    <input type="search" id="marketplace-search-keyword" placeholder="search" />
                    <br />

                    <span>Model type:</span>
                    <div id="marketplace-search-modeltype"></div>
                </div>
            </div>
            <div class="flex-container">
                <table id="marketplace-table" class="mm-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Model</th>
                            <th>Author</th>
                            <th>Shared</th>
                            <th>Source project</th>
                            <th>Source URI</th>
                            <th>Time created</th>
                            <th>No. classes</th>
                        </tr>
                    </thead>
                    <tbody id="marketplace-models-tbody"></tbody>
                </table>

                <!-- selected model info -->
                <div class="info-container">
                    <div id="no-model-selected-marketplace">
                        No model selected.
                    </div>
                    <div id="selected-model-info-marketplace" style="display:none">
                        <h3>Selected model</h3>
                        <div>Name:</div>
                        <div class="info-field" id="marketplace-info-name"></div>
                        <div>Description:</div>
                        <div class="info-field" id="marketplace-info-description"></div>
                        <div>Author:</div>
                        <div class="info-field" id="marketplace-info-author"></div>
                        <div>Label classes:</div>
                        <div class="info-field" id="marketplace-info-labelclasses"></div>
                        <div>Tags:</div>
                        <div class="info-field" id="marketplace-info-tags"></div>
                        <div>Citation info:</div>
                        <div class="info-field" id="marketplace-info-citation"></div>
                        <div>License:</div>
                        <div class="info-field" id="marketplace-info-license"></div>
                        <!-- TODO: more -->

                        <span id="marketplace-model-type-disclaimer" style="font-style:italic"></span>
                        <br />

                        <!-- control buttons -->
                        <div>
                            <button class="btn btn-danger" id="marketplace-model-remove" style="display:none">Remove from Marketplace</button>
                            <button class="btn btn-warning" id="marketplace-model-reshare" style="display:none">Re-share on Marketplace</button>
                            <button class="btn btn-primary" id="marketplace-model-select" style="display:none">Add to Project</button>
                            <button class="btn btn-primary" id="marketplace-model-download">Download</button>
                            <a id="marketplace-download-link" style="display:none">download model</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- project-specific models table -->
        <div class="table-container flex-container" id="projectmodels-container" style="display:none">
            <!-- TODO: sort, search, filter -->
            <table id="project-table" class="mm-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Model</th>
                        <th>Time created</th>
                        <th>No. pred.</th>
                        <th>Shared</th>
                        <th>Name on Marketplace</th>
                    </tr>
                </thead>
                <tbody id="project-models-tbody"></tbody>
            </table>

            <!-- selected model info -->
            <div class="info-container">
                <div id="no-model-selected-project">
                    No model selected.
                </div>
                <div id="selected-model-info-project" style="display:none">
                    <h3>Selected model</h3>
                    <div id="project-model-share-notice" style="font-style:italic"></div>

                    <div>Name:</div>
                    <input type="text" id="project-info-name" class="select-field"></input>
                    <div>Description:</div>
                    <textarea id="project-info-description" class="select-field" style="height:200px"></textarea>
                    <br />
                    <div>Tags:</div>
                    <p style="font-style:italic">Tags allow users to find your model more easily on the Marketplace.</p>
                    <input type="text" id="project-info-add-tag"></input>
                    <button id="project-info-add-tag-button" class="btn btn-sm btn-primary">+ add</button>
                    <div class="info-field select-field" id="project-info-tags" style="min-height:54px"></div>
                    <br />

                    <div>Citation info:</div>
                    <textarea id="project-info-citation" class="select-field" style="height:200px"></textarea>
                    <br />
                    <div>License:</div>
                    <textarea id="project-info-license" class="select-field" style="height:200px"></textarea>
                    <br />

                    <label for="project-model-share-public">Share with:</label>
                    <select id="project-model-share-public">
                        <option value="everyone">Everyone</option>
                        <option value="projects">My own projects only</option>
                    </select>
                    <br />
                    <input type="checkbox" id="project-model-share-anonymous" />
                    <label for="project-model-share-anonymous">Anonymous (hide author name and project information)</label>
                    
                    <!-- control buttons -->
                    <div>
                        <button class="btn btn-primary" id="project-model-share">Share on Marketplace</button>
                        <button class="btn btn-danger" id="project-model-unshare" style="display:none">Remove from Marketplace</button>
                        <button class="btn btn-warning" id="project-model-reshare" style="display:none">Re-share on Marketplace</button>
                        <button class="btn btn-primary" id="project-model-duplicate">Set as current</button>
                        <button class="btn btn-danger" id="project-model-delete">Delete from Project</button>
                        <button class="btn btn-primary" id="project-model-download">Download</button>
                        <a id="project-download-link" style="display:none">download model</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls for model Web import -->
        <div class="table-container flex-container option-box" id="webimport-container" style="display:none;flex-direction:column;">
            <div>
                <label for="web-import-url-field">URL:</label>
                <input type="url" id="web-import-url-field" style="width:800px" />
                <button class="btn btn-sm btn-primary" id="web-import-start">Import</button>
            </div><br />
            <div>
                <label for="web-import-share-public">Share with:</label>
                <select id="web-import-share-public">
                    <option value="everyone">Everyone</option>
                    <option value="projects">My own projects only</option>
                </select>
                <br />
                <input type="checkbox" id="web-import-share-anonymous" />
                <label for="web-import-share-anonymous">Anonymous (hide author name and project information)</label><br />
                <div>
                    If model with same name already exists:
                    <fieldset id="web-import-model-rename-mode">
                        <input type="radio" id="web-import-model-rename-mode-skip" name="web-import-model-rename-mode" value="skip" checked>
                        <label for="web-import-model-rename-mode-skip">Skip import and select existing</label><br />
                        <input type="radio" id="web-import-model-rename-mode-increment" name="web-import-model-rename-mode" value="increment" checked>
                        <label for="web-import-model-rename-mode-increment">Append number to model name</label><br />
                        <input type="radio" id="web-import-model-rename-mode-rename" name="web-import-model-rename-mode" value="custom">
                        <label for="web-import-model-rename-mode-rename">Rename to: </label>
                        <input type="text" id="web-import-model-rename-to" disabled />
                        <span class="name-error-span" id="web-import-model-rename-error"></span>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- Controls to upload models from disk -->
        <div class="table-container flex-container option-box" id="uploaddisk-container" style="display:none">
            <input type="file" id="file-upload-field" name="AIDE model file (.json, .zip)" accept=".json,.zip" />
            <button class="btn btn-sm btn-primary" id="file-upload-start">Import</button>
            <div id="file-upload-progress-bar" style="margin-top:10px;width:100%;"></div><br />
            <div>
                <label for="file-upload-share-public">Share with:</label>
                <select id="file-upload-share-public">
                    <option value="everyone">Everyone</option>
                    <option value="projects">My own projects only</option>
                </select>
                <br />
                <input type="checkbox" id="file-upload-share-anonymous" />
                <label for="file-upload-share-anonymous">Anonymous (hide author name and project information)</label>
                <div>
                    If model with same name already exists:
                    <fieldset id="file-upload-model-rename-mode">
                        <input type="radio" id="file-upload-model-rename-mode-skip" name="file-upload-model-rename-mode" value="skip" checked>
                        <label for="file-upload-model-rename-mode-skip">Skip import and select existing</label><br />
                        <input type="radio" id="file-upload-model-rename-mode-increment" name="file-upload-model-rename-mode" value="increment" checked>
                        <label for="file-upload-model-rename-mode-increment">Append number to model name</label><br />
                        <input type="radio" id="file-upload-model-rename-mode-rename" name="file-upload-model-rename-mode" value="custom">
                        <label for="file-upload-model-rename-mode-rename">Rename to: </label>
                        <input type="text" id="file-upload-model-rename-to" disabled />
                        <span class="name-error-span" id="file-upload-model-rename-error"></span>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/statistics/libs/chartjs/Chart.min.css?v={{ version }}" />
<link rel="stylesheet" href="/static/projectAdmin/libs/jqtree/jqtree_custom.css?v={{ version }}" />
<link rel="stylesheet" href="/static/general/css/modelLabelclassMapper.css?v={{ version }}" />
<script src="/static/projectAdmin/libs/jqtree/tree.jquery.js?v={{ version }}"></script>
<script src="/static/dataAdmin/js/taskPolling.js?v={{ version }}"></script>
<style>
    #options-container {
        margin-bottom: 5px;
    }

    .option-box {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .info-field {
        margin: 10px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        background: #aaaaaa;
        font-weight: bold;
    }

    .selection-buttons {
        margin-bottom: 10px;
    }

    .select-field {
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .table-container {
        max-width: calc(100vw - 330px);
    }

    #marketplace-search-modeltype {
        max-height: 200px;
        overflow-y: auto;
        border: 0.5px solid white;
        border-radius: 5px;
        padding-left: 5px;
    }

    .mm-table {
        display: inline-block;
        height: 90%;
        max-height: 90%;
        border: 1px solid #aaa;
        margin-right: 20px;
        flex-grow: 1;
        min-width: 550px;
        overflow-x: auto;
    }

    .mm-table thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    .mm-table tbody {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .mm-table thead, .mm-table tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .mm-table td, .mm-table th {
        padding-right: 5px;
    }

    .tr-highlighted {
        font-weight: bold;
        background: #AAAAAA;
    }

    .mm-table tbody tr {
        cursor: pointer;
    }

    .info-container {
        flex-grow: 2;
        width: 400px;
    }

    #marketplace-info-labelclasses, #marketplace-info-tags, #project-info-tags {
        max-height: 300px;
        overflow-y: auto;
    }

    .tag {
        display: inline;
        background: #5a5a5a;
        color: white;
        padding: 8px 12px 8px 12px;
        border-radius: 5px;
        margin: 5px;
        font-weight: normal;
    }
    .tag > button {
        margin-left: 5px;
        border-radius: 50px;
    }
    .name-error-span {
        display: none;
        color: red;
        margin-left: 20px;
    }

    .citation {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        font-weight: normal;
    }
</style>
<script src="/static/statistics/libs/chartjs/Chart.min.js?v={{ version }}"></script>
<script src="/static/general/js/modelLabelclassMapper.js?v={{ version }}"></script>
<script src="/static/general/js/tableWidthAdjuster.js?v={{ version }}"></script>
<script type="text/javascript">

    window.save = undefined;

    let PANEL_NAMES = [
        'modelmarketplace',
        'projectmodels',
        'webimport',
        'uploaddisk'
    ];

    let availableAImodels = {};
    let modelsMarketplace = {};
    let modelsProject = [];
    let modelsMarketplaceMarkups = [];
    let modelsProjectMarkups = [];
    let selectedModel_id_marketplace = null;
    let selectedModel_id_project = null;

    function escapeHtml(unsafe) {   // required to sanitize potentially harmful model IDs/names
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;")
            .replace(/:/g, "_")
            .replace(/\//g, '_');
    }

    function getAvailableAImodels() {
        return $.ajax({
            url: window.baseURL + 'getAvailableAImodels',
            method: 'GET',
            success: function(data) {
                let models = data['models']['prediction'];

                availableAImodels = {};

                // populate filter table as well
                let filterTable = $('#marketplace-search-modeltype');
                filterTable.empty();
                for(var key in models) {
                    if(models[key]['hidden'] === true) continue;
                    let entry = $('<div id="modeltype_'+key+'"></div>');
                    entry.append($('<input type="checkbox" checked />'));
                    entry.append($('<span>'+models[key]['name']+'</span>'));
                    filterTable.append(entry);
                    availableAImodels[key] = models[key];
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to load installed AI model types (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getAvailableAImodels();
                    });
                }
            }
        });
    }

    function getModelsMarketplace() {
        let marketplaceTbody = $('#marketplace-models-tbody');
        return $.ajax({
            url: window.baseURL + 'getModelsMarketplace',
            method: 'GET',
            success: function(data) {
                modelsMarketplace = {};

                // sanitize model IDs
                for(var modelID in data['modelStates']) {
                    modelsMarketplace[escapeHtml(modelID)] = data['modelStates'][modelID];
                }

                // populate table
                marketplaceTbody.empty();
                modelsMarketplaceMarkups = [];
                for(var mID in modelsMarketplace) {
                    let model = modelsMarketplace[mID];
                    if(!availableAImodels.hasOwnProperty(model['model_library'])) {
                        continue;
                    }
                    let author = (typeof(model['author']) === 'string' ? model['author'] : '(anonymous)');
                    let originProject = (typeof(model['projectname']) === 'string' ? model['projectname'] : '(anonymous)');
                    let originURI = model['origin_uri'];
                    if(typeof(originURI) === 'string') {
                        if(originURI.toLowerCase().startsWith('aide://')) {
                            originURI = 'built-in';
                        }
                    } else {
                        originURI = '';
                    }
                    
                    let modelLibrary = availableAImodels[model['model_library']]['name'];
                    let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                    let no_classes = '(unknown)';
                    let classdef = model['labelclasses'];
                    if(typeof(classdef) === 'string') {
                        try {
                            classdef = JSON.parse(classdef);
                        } catch {}
                    }
                    if(Array.isArray(classdef)) {
                        no_classes = classdef.length;
                    } else if(classdef.hasOwnProperty('numClasses')) {
                        no_classes = classdef['numClasses'];
                    } else if(classdef.hasOwnProperty('entries')) {
                        if(Array.isArray(classdef['entries'])) {
                            no_classes = classdef['entries'].length;
                        } else if(typeof(classdef['entries']) === 'object') {
                            no_classes = Object.keys(classdef['entries']).length;
                        }
                    }
                    
                    let shared = (model['shared'] ? '<img src="/static/general/img/success.svg" />' : '<img src="/static/general/img/error.svg" />');
                    let markup = $('<tr id="modelMarketplace_' + mID + '">' +
                        '<td title="'+model['name']+'">' + model['name'] + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + author + '</td>' +
                        '<td>' + shared + '</td>' +
                        '<td>' + originProject + '</td>' +
                        '<td title="'+originURI+'">' + originURI + '</td>' +
                        '<td>' + timeCreated + '</td>' +
                        '<td>' + no_classes + '</td>' +
                        '</tr>');
                    
                    // click handler
                    markup.on('click', function() {
                        for(var i=0; i<modelsMarketplaceMarkups.length; i++) {
                            modelsMarketplaceMarkups[i].removeClass('tr-highlighted');
                        }
                        let selID = $(this).attr('id').replace(/(^)modelMarketplace_/g, '');
                        if(selID === selectedModel_id_marketplace) {
                            // deselect
                            selectedModel_id_marketplace = null;
                            markup.removeClass('tr-highlighted');
                            $('#no-model-selected-marketplace').show();
                            $('#selected-model-info-marketplace').hide();
                            return;
                        }
                        selectedModel_id_marketplace = selID;
                        let selectedModel = modelsMarketplace[selID];
                        let author = (typeof(selectedModel['author']) === 'string' ? selectedModel['author'] : '(anonymous)');
                        let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                        markup.addClass('tr-highlighted');

                        // populate info panel
                        let timeImported = selectedModel['time_imported'];
                        let alreadyImported = (typeof(timeImported) === 'number');

                        $('#marketplace-info-name').html(selectedModel['name']);
                        $('#marketplace-info-description').html(selectedModel['description']);
                        $('#marketplace-info-author').html(author);
                        parseLabelclassDefinition(selectedModel['labelclasses']);

                        let tagsDiv = $('#marketplace-info-tags');
                        tagsDiv.empty();
                        let tags = selectedModel['tags'];
                        if(typeof(tags) === 'string' && tags.length > 0) {
                            tags = tags.split(';;');
                        }
                        if(Array.isArray(tags)) {
                            for(var t=0; t<tags.length; t++) {
                                tagsDiv.append($('<span class="tag" id="tag__'+tags[t]+'">'+tags[t]+'</span>'));
                            }
                        }

                        let citationInfo = selectedModel['citation_info']
                        if(typeof(citationInfo) !== 'string') {
                            citationInfo = '';
                        }
                        $('#marketplace-info-citation').html(citationInfo);

                        let license = selectedModel['license']
                        if(typeof(license) !== 'string') {
                            license = '';
                        }
                        $('#marketplace-info-license').html(license);

                        // check if model still in current project (allow re-importing if not)
                        let modelExistsInProject = false;
                        for(var p=0; p<modelsProject.length; p++) {
                            if(modelsProject[p]['marketplace_info']['id'] === selectedModel_id_marketplace) {
                                modelExistsInProject = true;
                                break;
                            }
                        }

                        // download link
                        if(typeof(selectedModel['download_link']) === 'string') {
                            $('#marketplace-download-link').attr('href', selectedModel['download_link']);
                            $('#marketplace-download-link').show();
                        } else {
                            $('#marketplace-download-link').hide();
                        }

                        // buttons for actions
                        let modelDisclaimer = '';
                        if(selectedModel['is_owner']) {
                            if(selectedModel['shared']) {
                                modelDisclaimer = 'You are the author of this model and have shared it on '+ timeCreated + '.';
                                $('#marketplace-model-remove').show();
                                $('#marketplace-model-reshare').hide();
                            } else {
                                modelDisclaimer = 'You had shared this model on '+ timeCreated + ', but have hidden it from the marketplace again.';
                                $('#marketplace-model-remove').hide();
                                $('#marketplace-model-reshare').show();
                            }
                        } else if(alreadyImported) {
                            if(modelExistsInProject) {
                                modelDisclaimer += '<br />You have imported this model into your project on ' + new Date(timeImported*1000).toLocaleString() + '.';
                                $('#marketplace-model-select').hide();
                            } else {
                                modelDisclaimer += '<br />This model is not in the current project anymore, but you can re-import it if you want.';
                                $('#marketplace-model-select').show();
                            }
                            $('#marketplace-model-reshare').hide();
                        } else {
                            modelDisclaimer = 'You can import this model to your project.';
                            $('#marketplace-model-select').show();
                            $('#marketplace-model-remove').hide();
                            $('#marketplace-model-reshare').hide();
                        }
                        $('#marketplace-model-type-disclaimer').html(modelDisclaimer);
                        
                        $('#no-model-selected-marketplace').hide();
                        $('#selected-model-info-marketplace').show();
                    });
                    marketplaceTbody.append(markup);
                    modelsMarketplaceMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to get available AI models on the Model Marketplace (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getModelsMarketplace();
                    });
                }
            }
        });
    }

    function getModelsProject() {
        let modelsProjectTbody = $('#project-models-tbody');
        return $.ajax({
            url: window.baseURL + 'listModelStates',
            method: 'GET',
            success: function(data) {
                modelsProject = data['modelStates'];
                modelsProjectTbody.empty();
                modelsProjectMarkups = [];
                for(var i=0; i<modelsProject.length; i++) {
                    if(!availableAImodels.hasOwnProperty(modelsProject[i]['model_library']['id'])) {
                        continue;
                    }
                    let modelLibrary = availableAImodels[modelsProject[i]['model_library']['id']]['name'];
                    let shared = '';
                    if(modelsProject[i]['marketplace_info'].hasOwnProperty('id')) {
                        //TODO: also include shared meta data
                        if(modelsProject[i]['marketplace_info']['shared'] && modelsProject[i]['imported_from_marketplace'] === false) {
                            shared = '<img src="/static/general/img/success.svg" />';
                        } else if(modelsProject[i]['marketplace_info']['shared'] === false) {
                            shared = '<img src="/static/general/img/error.svg" />';
                        }
                    }

                    let marketplaceName = '';
                    if(modelsProject[i]['marketplace_info'].hasOwnProperty('name') &&
                        typeof(modelsProject[i]['marketplace_info']['name']) === 'string') {
                            marketplaceName = modelsProject[i]['marketplace_info']['name'];
                    }

                    let markup = $('<tr id="project_' + i + '">' +
                        '<td>' + (i+1) + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + new Date(modelsProject[i]['time_created'] * 1000).toLocaleString() + '</td>' +
                        '<td>' + modelsProject[i]['num_pred'] + '</td>' +
                        '<td>' + shared + '</td>' +
                        '<td title="'+marketplaceName+'">' + marketplaceName + '</td>' +
                        '</tr>');
                    markup.on('click', function() {
                        let selID = parseInt($(this).attr('id').replace(/(^)project_/g, ''));
                        for(var m=0; m<modelsProjectMarkups.length; m++) {
                            modelsProjectMarkups[m].removeClass('tr-highlighted');
                        }
                        if(selID === selectedModel_id_project) {
                            // deselect
                            selectedModel_id_project = null;
                            markup.removeClass('tr-highlighted');
                            $('#no-model-selected-project').show();
                            $('#selected-model-info-project').hide();
                            return;
                        }
                        let selectedModel = modelsProject[selID];
                        selectedModel_id_project = selID;
                        markup.addClass('tr-highlighted');

                        let readonly = (selectedModel['marketplace_info']['origin_uuid'] === null && 
                                        selectedModel['imported_from_marketplace'] === true &&
                                        selectedModel['marketplace_info']['author'] !== window.user);

                        // populate info panel
                        $('#project-info-name').val(null);
                        $('#project-info-description').html(null);
                        $('#project-model-share-public').val(null);
                        $('#project-model-share-anonymous').prop('checked', false);

                        $('#project-info-name').val(selectedModel['marketplace_info']['name']);
                        $('#project-info-description').html(selectedModel['marketplace_info']['description']);
                        $('#project-model-share-public').val(selectedModel['marketplace_info']['shared'] ? 'everyone' : 'projects');
                        $('#project-model-share-anonymous').prop('checked', !selectedModel['marketplace_info']['public']);

                        $('#project-info-name').prop('disabled', readonly);
                        $('#project-info-description').prop('disabled', readonly);
                        $('#project-model-share-public').prop('disabled', readonly);
                        $('#project-model-share-anonymous').prop('disabled', readonly);

                        // tags
                        let tagsDiv = $('#project-info-tags');
                        tagsDiv.empty();
                        let tags = selectedModel['marketplace_info']['tags'];
                        if(typeof(tags) === 'string' && tags.length > 0) {
                            tags = tags.split(';;');
                            for(var t=0; t<tags.length; t++) {
                                tagDiv = $('<span class="tag" id="tag__'+tags[t]+'">'+tags[t]+'</span>');
                                if(!readonly) {
                                    let removeBtn = $('<button class="btn btn-sm btn-secondary">X</button>');
                                    removeBtn.on('click', function() {
                                        $(this).parent().remove();
                                    });
                                    tagDiv.append(removeBtn);
                                }
                                tagsDiv.append(tagDiv);
                            }
                        }
                        $('#project-info-add-tag').prop('disabled', readonly);
                        $('#project-info-add-tag-button').prop('disabled', readonly);

                        $('#project-info-citation').html(selectedModel['marketplace_info']['citation_info']);
                        $('#project-info-license').html(selectedModel['marketplace_info']['license']);
                        $('#project-info-citation').prop('disabled', readonly);
                        $('#project-info-license').prop('disabled', readonly);

                        $('#no-model-selected-project').hide();
                        $('#selected-model-info-project').show();

                        // modify sharing controls
                        let modelImported = selectedModel['imported_from_marketplace'];
                        let shareNotice = '';
                        if(readonly) {
                            $('#project-model-share').hide();
                            $('#project-model-unshare').hide();
                            $('#project-model-reshare').hide();
                            if(modelImported) {
                                shareNotice = 'This model got imported from the Model Marketplace';
                                if(typeof(selectedModel['time_created']) === 'number') {
                                    shareNotice += ' on ' + new Date(selectedModel['time_created']*1000).toLocaleString() + '.';
                                } else {
                                    shareNotice += '.';
                                }
                            }

                        } else {
                            let modelSharedNow = (selectedModel['marketplace_info']['shared'] === true);
                            let modelSharedOnce = (selectedModel['marketplace_info']['origin_uuid'] === selectedModel['id']);

                            if(!modelImported) {
                                if(modelSharedNow) {
                                    $('#project-model-share').html('Update shared model');
                                    $('#project-model-share').show();
                                    $('#project-model-unshare').show();
                                    $('#project-model-reshare').hide();

                                    shareNotice = 'You have shared this model on the Model Marketplace';
                                    if(typeof(selectedModel['time_created']) === 'number') {
                                        shareNotice += ' on ' + new Date(selectedModel['time_created']*1000).toLocaleString() + '.';
                                    } else {
                                        shareNotice += '.';
                                    }

                                } else if(modelSharedOnce) {
                                    $('#project-model-share').html('Update and re-share');
                                    $('#project-model-share').show();
                                    $('#project-model-unshare').hide();
                                    $('#project-model-reshare').show();

                                    shareNotice = 'You did share this model on the Model Marketplace in the past, but have hidden it again. You can re-share it if you like.';

                                } else {
                                    $('#project-model-share').html('Share model');
                                    $('#project-model-share').show();
                                    $('#project-model-unshare').hide();
                                    $('#project-model-reshare').hide();

                                    shareNotice = 'You can share this model with others or other projects on the Model Marketplace.';
                                }
                            } else {
                                $('#project-model-share').hide();
                                $('#project-model-unshare').hide();
                                $('#project-model-reshare').hide();

                                shareNotice = 'You have imported this model from the Model Marketplace';
                                if(typeof(selectedModel['time_created']) === 'number') {
                                    shareNotice += ' on ' + new Date(selectedModel['time_created']*1000).toLocaleString() + '.';
                                } else {
                                    shareNotice += '.';
                                }
                            }
                        }
                        $('#project-model-share-notice').html(shareNotice);

                        // download link
                        if(typeof(selectedModel['download_link']) === 'string') {
                            $('#project-download-link').attr('href', selectedModel['download_link']);
                            $('#project-download-link').show();
                        } else {
                            $('#project-download-link').hide();
                        }

                    });
                    modelsProjectTbody.append(markup);
                    modelsProjectMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to retrieve project-specific model states (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getModelsProject();
                    });
                }
            }
        });
    }

    function getModelMarketplaceNameAvailable(name) {
        return $.ajax({
            url: window.baseURL + 'getModelMarketplaceNameAvailable?name=' + name,
            method: 'GET'
        });
    }

    function shareModel(fromProject) {
        let params = null;
        let modelName = null;
        let isReshare = false;  // skip name check if we're re-sharing a previously shared model under the same name
        if(fromProject) {
            if(typeof(modelsProject[selectedModel_id_project]) !== 'object' || !modelsProject[selectedModel_id_project].hasOwnProperty('id')) {
                return $.Deferred().promise();
            }
            modelName = $('#project-info-name').val();
            params = {
                model_id: modelsProject[selectedModel_id_project]['id'],
                model_name: modelName,
                model_description: $('#project-info-description').val(),
                tags: Object.keys(getTags('project', true)),
                citation_info: $('#project-info-citation').val(),
                license: $('#project-info-license').val(),
                public: ($('#project-model-share-public').val() === 'everyone'? true : false),
                anonymous: $('#project-model-share-anonymous').prop('checked')
            };
            isReshare = (modelsProject[selectedModel_id_project]['id'] === modelsProject[selectedModel_id_project]['marketplace_info']['origin_uuid']) &&
                        (modelName === modelsProject[selectedModel_id_project]['marketplace_info']['name']);
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            modelName = modelsMarketplace[selectedModel_id_marketplace]['name'];
            params = {
                model_id: selectedModel_id_marketplace
            };
        }

        function _pollShare(data) {
            let success = 'success';
            let message = '';
            if(data['status'] !== 0) {
                success = 'error';
                message = 'An error occurred while trying to share model "'+modelName+'" to project';
                if(data['message'] !== undefined) {
                    message += ' (message: "'+data['message'] + '")';
                }
                message += '.';
            } else {
                message = 'Model "'+modelName+'" shared successfully.';
            }
            if(message.length > 0)
                window.messager.addMessage(message, success, (success === 'success' ? undefined : 0));
            else
                window.messager.addMessage('An unknown error occurred while trying to share model "'+modelName+'" to project', 'error', 0);
            loadData();
        }

        let doShareModel = function() {
            return $.ajax({
                url: window.baseURL + 'shareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _pollShare(data);
                        },
                        function(data) {
                            _pollShare(data);
                        }, 1000);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                        window.messager.addMessage('An error occurred while trying to share model (message: "' + error + '").', 'error', 0);
                    }
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return doShareModel();
                        });
                    }
                }
            });
        }

        // check if model name is available
        if(typeof(modelName) !== 'string' || modelName.trim().length === 0) {
            window.messager.addMessage('Please provide a model name first', 'error');
            return;
        }

        let promise = $.Deferred().resolve({'status':0,'available':true}).promise();
        if(!isReshare) {
            promise = getModelMarketplaceNameAvailable(modelName);
        }
        promise.then(function(response) {
            if(response['status'] === 0 && response['available']) {
                window.showYesNoOverlay($('<div>Proceeding will make the selected model available on the marketplace.<br />Are you sure?</div>'),
                    doShareModel, null, 'Share', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
            } else {
                window.messager.addMessage('Model name "' + modelName + '" is unavailable.', 'error');
            }
        });
    }

    function reshareModel(fromProject) {
        let modelID = null;
        let modelName = null;
        if(fromProject) {
            try {
                modelID = modelsProject[selectedModel_id_project]['marketplace_info']['id'];
                modelName = modelsProject[selectedModel_id_project]['marketplace_info']['name'];
            } catch {
                return $.Deferred().promise();
            }
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            modelID = selectedModel_id_marketplace;
            modelName = modelsMarketplace[modelID]['name'];
        }

        let doReshareModel = function() {
            params = {
                model_id: modelID
            };

            function _pollReshare(data) {
                console.log(data);
                let success = 'success';
                let message = '';
                if(data['status'] !== 0) {
                    success = 'error';
                    message = 'An error occurred while trying to re-share model "'+modelName+'" to project';
                    if(data['message'] !== undefined) {
                        message += ' (message: "'+data['message'] + '")';
                    }
                    message += '.';
                } else {
                    message = 'Model "'+modelName+'" re-shared successfully.';
                }
                if(message.length > 0)
                    window.messager.addMessage(message, success, (success === 'success' ? undefined : 0));
                else
                    window.messager.addMessage('An unknown error occurred while trying to re-share model "'+modelName+'" to project', 'error', 0);
                loadData();
            }

            return $.ajax({
                url: window.baseURL + 'reshareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _pollReshare(data);
                        },
                        function(data) {
                            _pollReshare(data);
                        }, 1000);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                        window.messager.addMessage('An error occurred while trying to re-share model (message: "' + error + '").', 'error', 0);
                    }
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return doReshareModel();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding will make the selected model available again on the marketplace.<br />Are you sure?</div>'),
            doReshareModel, null, 'Share', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function unshareModel(fromProject) {
        let modelID = null;
        let modelName = null;
        if(fromProject) {
            try {
                modelID = modelsProject[selectedModel_id_project]['marketplace_info']['id'];
                modelName = modelsProject[selectedModel_id_project]['marketplace_info']['name'];
            } catch {
                return $.Deferred().promise();
            }
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            modelID = selectedModel_id_marketplace;
            modelName = modelsMarketplace[selectedModel_id_marketplace]['name'];
        }

        let doUnshareModel = function() {
            return $.ajax({
                url: window.baseURL + 'unshareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({model_id: modelID}),
                success: function(data) {
                    let success = 'success';
                    let message = 'Model "' + modelName + '" successfully hidden from Marketplace.';
                    let duration = undefined;
                    if(data['status'] !== 0) {
                        message = 'An error occurred while trying to hide model "' + modelName + '" from Marketplace (message: "' + data['message'] + '").';
                        success = 'error';
                        duration = 0;
                    }
                    loadData();
                    window.messager.addMessage(message, success, duration);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                        window.messager.addMessage('An error occurred while trying to hide model "' + modelName + '" from Model Marketplace (message: "' + error + '").', 'error', 0);
                    }
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return doUnshareModel();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding hides the selected model from the model marketplace.<br />Are you sure?</div>'),
            doUnshareModel, null, 'Remove', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function deleteModel(fromProject) {
        let modelID = null;
        if(fromProject) {
            try {
                modelID = modelsProject[selectedModel_id_project]['id'];
            } catch {
                return $.Deferred().promise();
            }
        } else {
            //TODO: not yet implemented
            return $.Deferred().resolve().promise();
        }

        let _on_message = function(data) {
            if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = 'an error occurred trying to delete model state (' + data['meta']['message'] + ').';
                }
                window.messager.addMessage(message, 'error', 0);
            } else {
                loadData();
                window.messager.addMessage('Successfully deleted model state from project.', 'success');
            }
        }

        let _do_delete = function() {
            return $.ajax({
                url: window.baseURL + 'deleteModelStates',
                method: 'POST',
                data: JSON.stringify({model_ids: [modelID]}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _on_message(data);
                        },
                        function(data) {
                            _on_message(data);
                        }, 1000);
                    } else {
                        if(data.hasOwnProperty('message')) {
                            window.messager.addMessage('An error occurred while trying to delete model state (message: "'+data['message']+'").', 'error', 0);
                        } else {
                            window.messager.addMessage('An unknown error occurred while trying to delete model state', 'error', 0);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while deleting model state (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _do_delete();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Are you sure you would like to delete this model state?<br />' +
            'This only applies to the current project; if the model had been shared on the Marketplace, this will not be deleted.<br />' +
            'This also removes predictions made by this models. The action cannot be undone.</div>'),
            _do_delete, null, 'Delete', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function duplicateModel() {
        if(typeof(modelsProject[selectedModel_id_project]) !== 'object' || !modelsProject[selectedModel_id_project].hasOwnProperty('id')) {
            return $.Deferred().promise();
        }
        let selModel = modelsProject[selectedModel_id_project]['id'];

        let _on_message = function(data) {
            if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = 'an error occurred trying to set model state as current (' + data['meta']['message'] + ').';
                }
                window.messager.addMessage(message, 'error', 0);
            } else {
                loadData();
                window.messager.addMessage('Successfully set model state as current.', 'success');
            }
        }

        let _do_duplicate = function() {
            return $.ajax({
                url: window.baseURL + 'duplicateModelState',
                method: 'POST',
                data: JSON.stringify({model_id: selModel}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _on_message(data);
                        },
                        function(data) {
                            _on_message(data);
                        }, 1000);
                    } else {
                        if(data.hasOwnProperty('message')) {
                            window.messager.addMessage('An error occurred while trying to set model state as current (message: "'+data['message']+'").', 'error', 0);
                        } else {
                            window.messager.addMessage('An unknown error occurred while trying to set model state as current', 'error', 0);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while setting model state as current (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _do_delete();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Are you sure you would like to set the selected model state as current?<br />This will duplicate the model state and will cause the next AI model workflow to start from it accordingly.</div>'),
        _do_duplicate, null, 'Proceed', 'Cancel', 'btn-primary', 'btn-secondary', false, false);
    }

    // show label class mapper upon successful import
    function showLCmapper(modelID) {
        let lcMapper = new ModelLabelclassMapper(window.project, modelsMarketplace[modelID]);
        window.lcMapper = lcMapper;
        lcMapper.loadData().then(function() {
            window.showYesNoOverlay(lcMapper.getMarkup(),
                function() {
                    lcMapper.saveData().then(function(result, message, status) {
                        loadData();
                        if(message === 'success') {
                            window.messager.addMessage('Label class map saved successfully.', 'success');
                        } else if(result.hasOwnProperty('message')) {
                            window.messager.addMessage('Could not save label class map (message: "' + result['message'] +'").', 'error', 0);
                        }
                    });
                },
                null, 'Import', 'Cancel', 'btn-primary', 'btn-secondary', true, false);
        });
    }

    function pollImport(data) {
        let success = 'success';
        let message = '';
        if(data['status'] !== 0) {
            success = 'error';
            message = 'An error occurred while trying to import model "'+modelName+'" to project';
            if(data['message'] !== undefined) {
                message += ' (message: "'+data['message'] + '")';
            }
            message += '.';
        } else {
            // model import successful; extract ID and prompt for label class mapper
            let modelID = data['marketplace_origin_id'];
            getModelsMarketplace().then(function() {
                return showLCmapper(modelID);
            });

            message = 'Model "'+modelName+'" imported successfully.';
        }
        if(message.length > 0)
            window.messager.addMessage(message, success, (success === 'success' ? undefined : 0));
        else
            window.messager.addMessage('An unknown error occurred while trying to import model "'+modelName+'" to project.', 'error', 0);
        loadData();
    }


    function importModelToProject(source) {
        let modelID = null;
        let modelName = null;
        let contentType = 'application/json; charset=utf-8';
        let dataType = 'json';
        let data = null;
        let pBar = null;

        if(source === 'url') {
            // import from URL
            let modelURL = $('#web-import-url-field').val();
            try {
                new URL(modelURL);
            } catch {
                //TODO: show red highlight around URL field instead?
                window.messager.addMessage('"' + modelURL + '" is not a valid URL.', 'error');
                return $.Deferred().promise();
            }
            modelID = modelURL;

            data = JSON.stringify({
                model_id: modelID,
                public: ($('#web-import-share-public').val() === 'everyone'),
                anonymous: $('#web-import-share-anonymous').prop('checked'),
                name_policy: $('#web-import-model-rename-mode input[type=radio]:checked').val(),
                custom_name: $('#web-import-model-rename-to').val()
            });

        } else if(source === 'disk') {
            // upload from local machine
            let fileInput = $('#file-upload-field')[0];
            let fileName = (fileInput.hasOwnProperty('webkitRelativePath')? fileInput['webkitRelativePath'] : fileInput['name']);
            if(fileName.startsWith('/')) {
                fileName = fileName.slice(1)
            }
            modelName = fileName;
            modelID = modelName;
            contentType = false;
            dataType = null;
            data = new FormData();
            data.append(fileName, fileInput.files[0]);
            data.append('public', ($('#file-upload-share-public').val() === 'everyone'));
            data.append('anonymous', $('#file-upload-share-anonymous').prop('checked'));
            data.append('name_policy', $('#file-upload-model-rename-mode input[type=radio]:checked').val());
            data.append('custom_name', $('#file-upload-model-rename-to').val());
            pBar = new ProgressBar(true, 0, 100, true);
            $('#file-upload-progress-bar').append(pBar.getMarkup());

        } else {
            if(selectedModel_id_marketplace === null || selectedModel_id_marketplace === undefined) {
                return $.Deferred().promise();
            }
            modelName = modelsMarketplace[selectedModel_id_marketplace]['name'];
            modelID = modelsMarketplace[selectedModel_id_marketplace]['id'];
            data = JSON.stringify({model_id: modelID});
        }

        let ajaxParams = {
            url: window.baseURL + 'importModel',
            method: 'POST',
            contentType: contentType,
            data: data,
            cache: false,
            processData: false,
            success: function(data) {
                let taskID = data['task_id'];
                if(typeof(taskID) === 'string') {
                    poll_status(taskID, function(data) {
                        pollImport(data);
                    },
                    function(data) {
                        pollImport(data);
                    }, 1000);
                } else {
                    let errorMessage = 'An error occurred while trying to import model "'+modelName+'" to project';
                    if(typeof(data['message']) === 'string') {
                        errorMessage += ' (message: "' + data['message'] + '")';
                    }
                    errorMessage += '.';
                    window.messager.addMessage(errorMessage, 'error', 0);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to import model to project (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return doImportModel();
                    });
                }
            }
        };

        if(dataType !== null) {
            ajaxParams['dataType'] = dataType;
        }

        if(pBar !== null) {
            let xhrFun = function () {
                var customXhr = $.ajaxSettings.xhr();
                if(customXhr.upload) {
                    customXhr.upload.addEventListener('progress', function(e) {
                        if(e.lengthComputable) {
                            if(e.loaded < e.total) {
                                pBar.set(true, e.loaded, e.total, false);
                            } else {
                                pBar.set(false);
                            }
                        } else {
                            pBar.set(false);
                        }
                    }, false);
                }
                return customXhr;
            }
            ajaxParams['xhr'] = xhrFun;
        }

        let doImportModel = function() {
            if(modelID === undefined) return $.Deferred().promise();

            return $.ajax(ajaxParams);
        }

        // prompt for confirmation, then start the work
        window.showYesNoOverlay($('<div>Proceeding will import the selected model to the project and make it the starting point for future workflows in that project.<br />Are you sure?</div>'),
            doImportModel, null, 'Import', 'Cancel', 'btn-primary', 'btn-secondary', false, false);
    }


    function requestModelDownload(source) {
        let modelID = undefined;
        let params = {
            source: source
        }
        if(source === 'marketplace') {
            modelID = modelsMarketplace[selectedModel_id_marketplace]['id'];
        } else if(source === 'project') {
            modelID = modelsProject[selectedModel_id_project]['id'];

            // extra parameters for (potentially unshared) project model
            params['model_name'] = $('#project-info-name').val();
            params['model_description'] = $('#project-info-description').val();
            params['model_tags'] = Object.keys(getTags('project', true));
        }
        if(typeof(modelID) !== 'string') {
            return $.Deferred().promise();
        }
        params['model_id'] = modelID;

        function _pollForDownloadLink(data, taskID, success) {
            if(!success) {
                let msg = 'An error occurred while preparing model state for export';
                if(data.hasOwnProperty('message') && typeof(data['message']) === 'string') {
                    msg += ' (message: "' + data['message'] + '")';
                }
                msg += '.';
                window.messager.addMessage(msg, 'error', 0);
                return;
            }
            let result = null;
            if(typeof(data) === 'string') {
                result = data;
            } else if(data.hasOwnProperty('result') && typeof(data['result']) === 'string') {
                result = data['result'];
            }
            if(result !== null) {
                let href = window.baseURL + 'download/models/' + result;
                if(source === 'marketplace') {
                    modelsMarketplace[selectedModel_id_marketplace]['download_link'] = href;
                    $('#marketplace-download-link').attr('href', modelsMarketplace[selectedModel_id_marketplace]['download_link']);
                    $('#marketplace-download-link').show();
                } else {
                    modelsProject[selectedModel_id_project]['download_link'] = href;
                    $('#project-download-link').attr('href', modelsProject[selectedModel_id_project]['download_link']);
                    $('#project-download-link').show();
                }
                window.messager.addMessage('Your download is ready (<a href="'+href+'">link</a>)', 'success');
            }
        }

        return $.ajax({
            url: window.baseURL + 'requestModelDownload',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(params),
            success: function(data) {
                let taskID = data['task_id'];
                if(typeof(taskID) === 'string') {
                    poll_status(taskID, function(data) {
                        _pollForDownloadLink(data, taskID, true);
                    },
                    function(data) {
                        _pollForDownloadLink(data, taskID, false);
                    }, 1000);
                } else {
                    console.error(error);
                    let errorMessage = 'An error occurred while trying to request model download';
                    if(typeof(data['message']) === 'string') {
                        errorMessage += ' (message: "' + data['message'] + '")';
                    }
                    errorMessage += '.';
                    window.messager.addMessage(errorMessage, 'error', 0);
                }
                
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to request model download (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return requestModelDownload(source);
                    });
                }
            }
        });
    }

    function parseClassEntry(entry, entryID) {
        // works recursively
        var name = entry['name'];
        if(entry['hidden']) {
            name += ' (hidden)';
        }
        let treeEntry = {
            id: entryID,
            name: name,
            color: entry['color'],
            hidden: entry['hidden']
        };

        if(entry.hasOwnProperty('entries')) {
            let children = [];
            for(var child in entry['entries']) {
                children.push(parseClassEntry(entry['entries'][child], child));
            }
            treeEntry['children'] = children;
        }

        return treeEntry;
    }

    function parseLabelclassDefinition(labelclassInfo) {
        let targetDiv = $('#marketplace-info-labelclasses');
        targetDiv.empty();
        let tree = [];
        if(typeof(labelclassInfo) === 'string') {
            labelclassInfo = JSON.parse(labelclassInfo);
        }
        if(Array.isArray(labelclassInfo)) {
            tree = labelclassInfo;

        } else {
            if(labelclassInfo.hasOwnProperty('entries')) {
                for(var child in labelclassInfo['entries']) {
                    tree.push(parseClassEntry(labelclassInfo['entries'][child], child));
                }
            }
        }

        if(tree.length > 0) {
            let lcTree = $('<div id="lc-tree"></div>');
            lcTree.tree({
                data: tree,
                selectable: false,
                dragAndDrop: false,
                autoOpen: true
            });
            targetDiv.append(lcTree);
        }
    }

    function _string_matches(object, keywords) {
        if(keywords.length === 0) return true;
        if(object === undefined || object === null) {
            return false;
        } else if(Array.isArray(object)) {
            for(var k=0; k<object.length; k++) {
                if(_string_matches(object[k], keywords)) return true;
            }
            return false;
        } else if(typeof(object) === 'object') {
            let keys = Object.keys(object);
            for(var k=0; k<keys.length; k++) {
                if(_string_matches(object[keys[k]], keywords)) return true;
            }
            return false;
        } else {
            object = object.toString().toLowerCase();
            for(var k=0; k<keywords.length; k++) {
                if(!object.includes(keywords[k].toLowerCase())) return false;
            }
            return true;
        }
    }

    function _isMatch_marketplace(entryID, keywords, modelTypes) {
        let entry = modelsMarketplace[entryID];
        if(typeof(entry) !== 'object') return false;

        if(!modelTypes.hasOwnProperty(entry['model_library'])) return false;

        if(keywords.length === 0) return true;

        if(_string_matches(entry, keywords)) return true;
        
        // also check table entry for converted fields (anonymous authors, date, etc.)
        let tableMarkup = $('#modelMarketplace_'+entryID).map(function(){
            return $(this).text();
        }).get(0);
        if(_string_matches(tableMarkup, keywords)) return true;

        // no match
        return false;
    }

    function filterMarketplace() {
        let keywords = $('#marketplace-search-keyword').val().trim().split(' ');
        for(var k=0; k<keywords.length; k++) {
            keywords[k] = keywords[k].trim().toLowerCase();
        }
        let modelTypes = {};
        let modelTypesDivs = $('#marketplace-search-modeltype').children();
        for(var c=0; c<modelTypesDivs.length; c++) {
            if($($(modelTypesDivs[c]).find('input[type=checkbox]')[0]).prop('checked')) {
                let modelID = $(modelTypesDivs[c]).attr('id').substring(10);    // get rid of "modeltype_" prefix
                modelTypes[modelID] = 0;
            }
        }

        // show or hide entries according to filter criteria
        let entries = $('#marketplace-models-tbody').find('tr');
        for(var e=0; e<entries.length; e++) {
            let entry = $(entries[e]);
            let entryID = entry.attr('id').substring(17);   // get rid of "modelMarketplace_" prefix
            if(_isMatch_marketplace(entryID, keywords, modelTypes)) {
                entry.show();
            } else {
                entry.hide();
            }
        }
    }

    function loadData() {
        //TODO: promises

        selectedModel_id_marketplace = null;
        selectedModel_id_project = null;

        $('#no-model-selected-marketplace').show();
        $('#selected-model-info-marketplace').hide();
        $('#no-model-selected-project').show();
        $('#selected-model-info-project').hide();

        getModelsMarketplace();
        getModelsProject();
    }

    function getTags(source, preserveCase) {
        let tagListID = (source === 'project' ? '#project-info-tags' : '#marketplace-info-tags');
        let tagDivs = $(tagListID).children();
        if(tagDivs.length === 0) return {};
        let tags = {};
        for(var c=0; c<tagDivs.length; c++) {
            let tag = $(tagDivs[c]).prop('id').replace(/(^)tag__/g,'');
            if(!preserveCase) {
                tag = tag.toLowerCase();
            }
            tags[tag] = 0;
        }
        return tags;
    }
    function tagValid(tag, source) {
        if(typeof(tag) !== 'string') return false;
        tag = tag.trim().toLowerCase();
        if(tag.length === 0 || tag.includes(';;')) return false;
        let tags = getTags(source, false);
        if(tags.hasOwnProperty(tag)) return false;
        return true;
    }

    function setupUI() {
        $('#project-model-share').on('click', function() {
            shareModel(true);
        });
        $('#project-model-reshare').on('click', function() {
            reshareModel(true);
        });
        $('#project-model-unshare').on('click', function() {
            unshareModel(true);
        });
        $('#project-model-duplicate').on('click', function() {
            duplicateModel();
        });
        $('#project-model-delete').on('click', function() {
            deleteModel(true);
        });
        $('#marketplace-model-reshare').on('click', function() {
            reshareModel(false);
        });
        $('#marketplace-model-remove').on('click', function() {
            unshareModel(false);
        });
        $('#marketplace-model-select').on('click', function() {
            importModelToProject('marketplace');
        });
        $('#marketplace-model-download').on('click', function() {
            requestModelDownload('marketplace');
        });
        $('#project-model-download').on('click', function() {
            requestModelDownload('project');
        });

        $('#web-import-start').on('click', function() {
            importModelToProject('url');
        });
        $('#file-upload-start').on('click', function() {
            importModelToProject('disk');
        });

        // name policy
        function _check_custom_name(importType) {
            let name = $('#'+importType+'-model-rename-to').val();
            let errorFieldHandle = $('#'+importType+'-model-rename-error');
            let importButtonHandle = $('#'+importType+'-start');
            return $.ajax({
                url: window.baseURL + 'getModelMarketplaceNameAvailable?name=' + name,
                method: 'GET',
                success: function(data) {
                    if(data['available']) {
                        $(errorFieldHandle).hide();
                        $(importButtonHandle).prop('disabled', false);
                    } else {
                        $(errorFieldHandle).html('name unavailable');
                        $(errorFieldHandle).show();
                        $(importButtonHandle).prop('disabled', true);
                    }
                }
            });
        }
        function _check_rename_policy(importType) {
            let namePolicy = $('#'+importType+'-model-rename-mode input[type=radio]:checked').val();
            let renameField = $('#'+importType+'-model-rename-to');
            if(namePolicy === 'custom') {
                $(renameField).prop('disabled', false);
                return _check_custom_name(importType);
            } else {
                $(renameField).prop('disabled', true);
                $('#'+importType+'-start').prop('disabled', false);
            }
        }
        
        $('#web-import-model-rename-to').on('input', function() {
            _check_custom_name('web-import');
        });
        $('#file-upload-model-rename-to').on('input', function() {
            _check_custom_name('file-upload');
        });
        $('#web-import-model-rename-mode').on('change', function() {
            _check_rename_policy('web-import');
        });
        $('#file-upload-model-rename-mode').on('change', function() {
            _check_rename_policy('file-upload');
        });

        // search and filter
        $('#marketplace-search-keyword').on('input', function() {
            filterMarketplace();
        });
        $('#marketplace-search-modeltype').on('change', function() {
            filterMarketplace();
        });

        // tags
        function _addTag() {
            let tag = $('#project-info-add-tag').val();
            if(tagValid(tag, 'project')) {
                let tagsDiv = $('#project-info-tags');
                let tagDiv = $('<div class="tag" id="tag__'+tag+'"></div>');
                tagDiv.append($('<span>' + tag + '</span>'));
                let removeBtn = $('<button class="btn btn-sm btn-secondary">X</button>');
                removeBtn.on('click', function() {
                    $(this).parent().remove();
                });
                tagDiv.append(removeBtn);
                tagsDiv.append(tagDiv);
                $('#project-info-add-tag').val('');
            }
        }

        $('#project-info-add-tag-button').on('click', function() {
            _addTag();
        });
        $('#project-info-add-tag').on('input', function() {
            let tag = $('#project-info-add-tag').val();
            $('#project-info-add-tag-button').prop('disabled', !tagValid(tag, 'project'));
        });
        $('#project-info-add-tag').on('keyup', function(keystroke) {
            if(keystroke.keyCode === 13) {
                // enter key pressed; add tag
                _addTag();
            }
        });

        function showPanel(type) {
            for(var p in PANEL_NAMES) {
                let pn = PANEL_NAMES[p];
                if(pn === type) {
                    $('#'+pn+'-container').show();
                    $('#'+pn+'-button').addClass('btn-primary');
                    $('#'+pn+'-button').removeClass('btn-secondary');
                } else {
                    $('#'+pn+'-container').hide();
                    $('#'+pn+'-button').addClass('btn-secondary');
                    $('#'+pn+'-button').removeClass('btn-primary');
                }
            }
        }
        for(var p in PANEL_NAMES) {
            $('#'+PANEL_NAMES[p]+'-button').on('click', function(e) {
                e.preventDefault();
                showPanel($(this).attr('id').replace('-button', ''));
            });
        }
        showPanel('modelmarketplace');
    }

    $(document).ready(function() {
        // adjust table layout of Marketplace and Project
        window.adjustTableWidth(
            '#marketplace-table',
            [
                '400px',
                '140px',
                '200px',
                '70px',
                '140px',
                '300px',
                '160px',
                '110px'
            ],
            true,
            true
        );
        window.adjustTableWidth(
            '#project-table',
            [
                '20px',
                '140px',
                '160px',
                '100px',
                '70px'
            ],
            true,
            true
        );

        var promise = getAvailableAImodels();
        promise = promise.done(function() {
            $.when(getModelsMarketplace(), getModelsProject()).done(function () {
                setupUI();
                window.showLoadingOverlay(false);
            });
        });
    });
</script>