body {
    overflow: hidden;
    background: #333333 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 99px;
    border: none !important;
    background: -moz-linear-gradient(left,  rgba(87,83,82,0.6) 0%, rgba(87,83,82,0.6) 39%, rgba(87,83,82,1) 82%, rgba(87,83,82,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(87,83,82,0.6) 0%,rgba(87,83,82,0.6) 39%,rgba(87,83,82,1) 82%,rgba(87,83,82,1) 100%);
    background: linear-gradient(to right,  rgba(87,83,82,0.6) 0%,rgba(87,83,82,0.6) 39%,rgba(87,83,82,1) 82%,rgba(87,83,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99575352', endColorstr='#575352',GradientType=1 );
}
.header-text {
    color: white;
}
#footer {
    background: -moz-linear-gradient(left,  rgba(87,83,82,0.6) 0%, rgba(87,83,82,0.6) 39%, rgba(87,83,82,1) 82%, rgba(87,83,82,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(87,83,82,0.6) 0%,rgba(87,83,82,0.6) 39%,rgba(87,83,82,1) 82%,rgba(87,83,82,1) 100%);
    background: linear-gradient(to right,  rgba(87,83,82,0.6) 0%,rgba(87,83,82,0.6) 39%,rgba(87,83,82,1) 82%,rgba(87,83,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99575352', endColorstr='#575352',GradientType=1 );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
#footer-message-panel {
    display: none;
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    width: 350px;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    white-space: nowrap;
    overflow: hidden;
}
.ms-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
}
#gallery-container {
    margin: auto;
    width: 100%;
    height: calc(100vh - 260px);
    text-align: center;
}
#gallery {
    height: 100%;
    overflow: auto;
}
.widescreen {
    max-width: 1920px;
}
#interface-controls {
    justify-content: center;
    overflow-x: auto;
    margin-top: 10px;
}
#interface-controls > * {
    display: inline;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}
#viewport-controls {
    display: flex;
    flex-direction: column;
}
#viewport-controls > * {
    margin-bottom: 5px;
}
.inline-control {
    display: inline;
    vertical-align: middle;
}
#prediction-threshold-container {
    display: inline-flex;
    color: white;
    height: 32px;
    border-radius: .2rem;
    background: #514e4d;
    padding-left: 2px;
    padding-right: 5px;
}
#pred-thresh-ranges {
    display: inline-table;
    text-align: right;
    font-size: 10px;
}
#pred-thresh-ranges input {
    height: 10px;
}
.entry {
    display: inline-block;
    padding: 10px;  /* 18px without margin */
    padding-bottom: 0;
    margin: 8px;
    background: #1d1d1d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
canvas {
    width: 100%;
    height: 100%;
    /* max-height: 100%; */
}
.flag-container {
    display: flex;
    flex-direction: row;
    float: right;
}
.golden-question-flag {
    position: relative;
    float: right;
    /* margin-top: -28px; */
    margin-right: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bookmark {
    width: 15px;
    height: 18px;
    cursor: pointer;
}

.image-footer {
    height: 24px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* tools */
#tools-container-resize-handle {
    height: calc(100vh - 140px);
    flex-shrink: 0;
    margin-left: 5px;
}

.toolbox {
    padding: 10px;
    overflow-y: auto;
}

#tools-container {
    display: flex;
    flex-direction: column;
    float: right;
    height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    color: white;
    width: 500px;
    /* min-width: 400px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 75px;
    padding-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
}
#labelclass-search-box {
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    padding-left: 5px;
}
#legend-entries {
    padding: 10px;
    overflow-y: auto;
    /* height: 100%; */
}
.legend-color-dot {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    margin-right: 5px;
}
.label-class-legend {
    padding: 2px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 2px;
    padding-left: 10px;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.label-text {
    font-size: 14px;
}
.labelGroup {
    margin-bottom: 30px;
}
.labelGroup > h3 {
    cursor: pointer;
    padding-left: 12px;
}
.labelGroup > h3::before {
    content: '\25B8';
    cursor: pointer;
    float: left;
    margin-left: -12px;
}
.labelGroup > h3.expanded::before {
    animation: colArr-expand 1s ease forwards;
}
.labelGroup > h3::before {
    animation: colArr-expand 1s ease backwards;
}

.labelGroup-children {
    margin-left: 10px;
}
.legend-inactive {
    background: #EEEEEE !important;
    color: #222222 !important;
    font-weight: normal;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #44444488;
    z-index: 5;
}
.overlay-card {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 40px;
    z-index: 100;
    width: 720px;
    height: 250px;
    max-width: 50%;
    /* max-height: 50%; */
    border-radius: 10px;
}
#overlay-loader {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 20;
    font-weight: bold;
    color: white;
}
.azure-loadingdots {
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.azure-loadingdots > div {
    width: 10px;
    height: 10px;
    background: white;

    flex : 0 0 auto;
    position : relative;
    animation : loading 3s cubic-bezier(0,0.95,1,0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
    animation-fill-mode : both;
    border-radius: 50%;
}
.azure-loadingdots > div::after {
    content: "";
    display: block;
    border-radius: 50%;
}
.azure-loadingdots > div:nth-child(1) {
    animation-delay : 0.2s;
}
.azure-loadingdots > div:nth-child(2) {
    animation-delay : 0.1s;
} 
.azure-loadingdots > div:nth-child(4) {
    animation-delay : -0.1s;
} 
.azure-loadingdots > div:nth-child(5) {
    animation-delay : -0.2s;
}
@keyframes loading {
    0% {
    transform : translateX(-500px);
    }
    10% {
    transform : translateX(-500px);
    }
    90% {
    transform : translateX(500px);
    }
    100% {
    transform : translateX(500px);
    }
}
@keyframes loading-opacity {
    0% {
    opacity : 0;
    }
    10% {
    opacity : 0;
    }
    50% {
    opacity : 1;
    }
    100% {
    opacity : 1;
    }
}
.scroll-tooltip {
    display: none;
    position: absolute;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: white;
    background: -moz-linear-gradient(top,  rgba(51,51,51,0) 0%, rgba(51,51,51,0.65) 52%, rgba(51,51,51,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.65) 52%,rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(51,51,51,0.65) 52%,rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=0 );
}
.tooltip {
    opacity: 100;
}

.tooltip-inner {
    background-color: #17a2b8 !important;
    color: white;
    font-size: 18px;
    max-width: 300px !important;
}

.arrow::before{
    border-bottom-color:#17a2b8 !important;
    border-top-color:#17a2b8 !important;
  }

.grad-border-v {
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.grad-border-h {
    height: 1px;
    width: 100%;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-sm {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* annotation reviewing */
#imorder-title {
    cursor: pointer;
}
#imorderBox {
    overflow-y: auto;
}
#review-controls {
    margin-left: 25px;
}
.limit-users-table {
    width: 90%;
    background: #575352;
    border: 1px solid white;
    overflow-x: auto;
}
.limit-users-table tbody {
    display: block;
    overflow-y: auto;
    max-height: 200px;
}
.limit-users-table thead {
    background: #3e3e3e;
}
.limit-users-table thead tr {
    display: block;
}

/* AI controller window */
.ai-worker-panel {
    position: absolute;
    right: 90px;
    width: 550px;
    z-index: 1000;
}
#ai-worker-minipanel {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.minipanel-span {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#ai-minipanel-status {
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    flex-direction: column;
}

.minipanel-progress {
    display: flex;
}

#minipanel-progressbar {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 27px;
}

#ai-worker-panel {
    display: none;
    position: absolute;
    bottom: 40px;
    height: 400px;
    max-height:400px;
    padding: 20px;
    color: white;
    background: #575352F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.number-box {
    width: 80px;
    float: right;
    margin-left: 10px;
}

#ai-worker-panel-header {
    cursor: pointer;
}

.ai-list-subheader {
    padding-left: 5px;
}

.ai-worker-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

#ai-worker-container {
    /* TODO: temporary solution while manual controls are in place */
    height: 200px;
}

#ai-worker-entries, #ai-tasks-entries {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.ai-worker-job {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.ai-category-header {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .ai-category-header::before {
    content: '\25B8';
    cursor: pointer;
    float: left;
    margin-left: -12px;
}

.ai-category-header.expanded::before {
    animation: colArr-expand 1s ease forwards;
}

.ai-category-header::before {
    animation: colArr-expand 1s ease backwards;
} */

#ai-manual-controls table td {
    vertical-align: top;
}

@keyframes colArr-expand {
    100% {
    transform : rotate(90deg);
    }
}
@keyframes colArr-collapse {
    100% {
    transform : rotate(-90deg);
    }
}

.job-details {
    font-size: 14px;
    margin-left: 12px;
}

.time-indicator > div {
    display: inline;
}

.progressbar {
    width: 100%;
    height: 5px;
    background: white;
}

.progressbar-filler {
    width: 0%;
    height: 100%;
    

    /* TODO: make pretty gradient... */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 */

    background-size: 400% 400%;
    
    -webkit-animation: progressbar-animation 2s ease infinite;
    -moz-animation: progressbar-animation 2s ease infinite;
    -o-animation: progressbar-animation 2s ease infinite;
    animation: progressbar-animation 2s ease infinite;
}

@-webkit-keyframes progressbar-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes progressbar-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes progressbar-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes progressbar-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}